*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 48px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul a{
    text-decoration: none;
    padding: 22px 10px;
    margin: 22px 10px;
    color: black;
}
nav h1{
    font-size: 36px;
}
nav li{
    position: relative;
}
.submenu{
    position: absolute;
    background-color: aquamarine;
    left:0;
    top: 39px;
    flex-direction: column;
    display: none;
    width: 140px;
}
.submenu li{
    border-bottom: 1px solid black;
    width: 140px;
    padding: 9px 5px;
}
nav ul li:hover .submenu{
    display: flex;
    border-bottom: 10px;
}